//Advantages

.advantages {
  padding-top: 46px;
  outline: 5px solid red;
  outline-offset: 5px;
}

.advantages__wrapper {
  .wrapper();
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @basic-smoky-white;
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  font-weight: @fw-large;
  font-size: @fs-medium;
  color: @basic-black;
}

.advantages__text {
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;
  text-align: center;
}
