.advantages__wrapper {
  .wrapper();
}

.advantages__text {
  font-size: @fs-large;
  line-height: 29px;
  font-weight: @fw-small;
  text-align: center;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @basic-smoky-white;
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  font-size: @fs-medium;
  font-weight: @fw-large;
  color: @basic-black;
}
