.application {
  padding: 29px 0 38px 0;
  color: @basic-white;
  text-align: center;
  outline: 5px solid rgba(255, 155, 155, 0.9);
  outline-offset: 5px;
}

.application-wrapper {
  .wrapper();
}

.application__slogan {
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;
}

.application__button {
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-small;
}

.application__text {
  font-weight: @fw-small;
}
