.application {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: -69px 0 0 0;
  padding: 0;
  color: @basic-white;
  text-align: center;
  outline: 5px solid green;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    height: 729px;
    margin: -110px 0 0 0;
  }
}

.application__header {
  display: flex;
  flex-direction: column;
  height: 733px;
  margin: 0 auto;
  padding: 0;
  background: url("../../img/back-mobile.jpg") no-repeat 50% 0;
  z-index: 5;
  .outline();

  @media (min-width: @tablet-width) {
    height: 729px;
    background-size: cover;
  }
}

.application__features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 271px;
  .wrapper();
  background-color: @basic-navy-blue;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 300px;
    background-color: transparent;
  }
}

.application__list {
  display: flex;
  .reset-list();
  justify-content: space-evenly;
  align-items: center;
}

.application__image {
  order: 1;
  background: url("../../img/screen.png") no-repeat 50% 36%;
}

.application__slogan {
  margin: 84px auto 34px auto;
  padding: 0 20px;
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;
  z-index: 10;
  outline-offset: -2px;
  outline: 2px solid orangered;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 127px;
    margin: 0;
    padding: 0 20px;
  }
}

.application__button {
  display: block;
  width: 100%;
  padding: 21px 0;
  box-sizing: border-box;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-small;
  border: 3px solid @basic-white;
  border-radius: 29px;
}

.application__text {
  margin: 0;
  font-weight: @fw-small;
}
