//Application

.application {
  //margin: -69px 0 0 0;
  //padding: 0;
  //color: @basic-white;
  //
  //@media (min-width: @tablet-width) {
  //  margin: -110px 0 0 0;
  //}
  //
  //@media (min-width: @desktop-width) {
  //  margin: -110px 0 0 0;
  //}
}

.application__container {
  position: relative;
  top: -393px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //width: 100%;
  height: 664px;
  margin: 0 0 -393px 0;
  //padding: 0 20px;
  text-align: center;
  z-index: 2;
  //background-image: url("../../img/back-mobile-index.jpg");
  //background-repeat: no-repeat;
  //background-position: 50% 0;
  //background-size: cover;

  @media (min-width: @tablet-width) {
    position: relative;
    //width: 620p;
    top: -526px;
    height: 0;
    //margin: 0 0 -526px 0;
    margin: 0 auto -13px auto;
    //paddi
    // ng: 0 20px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 120px;
    //margin: 0;
    .wrapper-desktop();
    justify-content: flex-start;
    //height: 855px;
  }
}

.application__slogan {
  position: relative;
  left: 0;
  //top: -373px;
  right: 0;
  //margin: 0 0 -373px 0;
  padding: 0;
  //width: auto;
  //min-height: 47px;
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;
  color: @basic-white;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    padding: 0 0 30px 20px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
    padding: 210px 0 37px 0;
  }
}

.app-tablet-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.application__features {
  display: flex;
  flex-direction: column;
  //margin: 0;
  min-height: 271px;
  background-color: @basic-navy-blue;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    //justify-content: space-between;
    width: 300px;
    min-height: 237px;
    margin: 0;
    padding: 0 0 0 20px;
    background-color: transparent;
    //order: 1;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.application__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.application__button {
  display: block;
  width: 100%;
  margin: 28px 0 0 0;
  padding: 14px 0 17px 0;
  box-sizing: border-box;
  border: 3px solid @basic-white;
  border-radius: 29px;

  &:hover,
  &:active {
    border: 3px solid @basic-white;
    background-color: @basic-white;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0 0 46px 0;
    padding: 14px 0 17px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 68px 0;
    padding: 16px 0 17px 0;
  }
}

.application__features a {
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-small;
  color: @basic-white;

  &:hover {
    color: @basic-purplish-red;
  }

  &:active {
    color: fade(@basic-purplish-red, 30%);
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.application__list {
  display: flex;
  .reset-list();
  justify-content: space-evenly;
  align-items: center;
  margin: 32px 0 15px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 26px 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 45px 0;
  }
}

.application__text {
  margin: 0;
  padding: 0;
  font-weight: @fw-small;

  @media (min-width: @tablet-width) {
    width: 300px;
    font-size: @fs-medium;
  }
}
