//Contacts

.contacts {
  padding: 50px 0 41px 0;
  text-align: center;
  outline: 5px solid crimson;
  outline-offset: 5px;
}

.contacts__wrapper {
  .wrapper();
}

.contacts__intro {
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;
}

.contacts__title {
  .cont-title();
}

.contacts__text {
  .cont-red();
}
