//Contacts

.contacts {
  margin: 0;
  padding: 35px 0 0 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 30px 0 0 0;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  .wrapper();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__item {
  width: 280px;
  margin: 0;
  padding: 0 0 18px 0;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0 0 28px 0;
  }
}


.contacts__item--email {
  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.contacts__item:last-child {
  margin: 0 auto;
}

.contacts__intro {
  margin: 0;
  padding: 0 0 40px 0;
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 29px;

  @media (min-width: @tablet-width) {
    margin: 0 0 32px 0;
    padding: 0;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  .cont-title();
}

.contacts__text {
  margin: 0;
  padding: 0;
  .cont-red();
}
