// Diagram

.diagram {
  display: none;

  @media (min-width: @tablet-width) {
    //display: block;
    background-color: @basic-white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 330px;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .bg-grey();
    //width: 940px;
    //margin: 0 auto;
    //padding: 0 10px;
  }
}

.diagram__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 330px;
  }

  @media (min-width: @desktop-width) {
    min-height: 430px;
    .wrapper-desktop();
    //padding: 0;
  }
}

.diagram__container {
  @media (min-width: @tablet-width) {
    width: 310px;
    min-height: 330px;
    //.wrapper-tablet();
    //display: flex;
    //flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
    outline: 2px solid red;
    outline-offset: -2px;
  }
}

.diagram__title {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 96px 0 10px 0;
    font-weight: @fw-large;
    font-size: 30px;
    line-height: 36px;
  }

  br {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.diagram__description {
  margin: 0;
  padding: 0 0 10px 0;

  @media (min-width: @tablet-width) {
    .br-diagram-desc {
      display: none;
    }

    padding: 0 0 45px 0;
  }

  @media (min-width: @desktop-width) {
    .br-diagram-tablet {
      display: none;
    }
  }
}

.diagram__container a {
  @media (min-width: @tablet-width) {
    color: @basic-purplish-red;
  }
}
