// Diagram

.diagram {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    .bg-grey();
  }
}

.diagram__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    //align-items: flex-end;
    background-image: url("../img/diagram-tablet.svg");
    background-repeat: no-repeat;
    background-position: 20px 54px;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    //min-height: 430px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-image: url("../img/diagram-desktop.svg");
    background-repeat: no-repeat;
    background-position: 10px 35px;
  }
}

.diagram__container {
  @media (min-width: @tablet-width) {
    width: 310px;
    min-height: 330px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 447px;
  }
}

.diagram__title {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 96px 0 10px 0;
    font-weight: @fw-large;
    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 129px 0 23px 0;
  }

  br {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.diagram__description {
  margin: 0;
  padding: 0 0 10px 0;

  @media (min-width: @tablet-width) {
    .br-diagram-desk {
      display: none;
    }
    padding: 0 0 9px 0;
  }

  @media (min-width: @desktop-width) {
    .br-diagram-tablet {
      display: none;
    }

    .br-diagram-desk {
      display: block;
    }
    font-size: @fs-medium;
    line-height: @lh-large;
    padding: 0 0 32px 0;
  }
}

.diagram__container a {
  @media (min-width: @tablet-width) {
    color: @basic-purplish-red;
    text-decoration-line: underline;
  }

  @media (min-width: @desktop-width) {
    font-size: @fs-medium;
  }
}
