.form__container-radio {
  margin: 0;
  padding: 0;
  .bg-grey();

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    order: 1;
  }
}

.field-radio {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 59px 0;
  }

  @media (min-width: @desktop-width) {
    width: 431px;
    margin: 0 0 56px 0;
  }
}

.field-radio__title {
  .title-legend();
  padding: 39px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 0 25px;

    br {
      display: none;
    }
  }
}

.field-radio__list {
  margin: 0 auto;
  padding: 39px 20px 0 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 48px 58px 57px 58px;
    //.outline();
  }

  @media (min-width: @desktop-width) {
    //margin: 0 0 46px 0;
    padding: 48px 74px 57px 72px;
  }
}

.field-radio__item {
  margin: 0 0 45px 0;

  &:last-child {
    margin: 0 0 46px 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 45px 0;
    //padding: 0 0 0 60px;

    &:last-child {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 46px 0;
    //padding: 0 0 0 59px;
  }
}

.field-radio__label {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 70px;
  .label-dark();

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 0 0 61px;
  }
}

.field-radio__input + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-off.svg");
  cursor: pointer;
}

.field-radio__input:hover + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-on.svg");
  cursor: pointer;
}

.field-radio__input:active + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-down.svg");
  cursor: pointer;
}

.field-radio__input:checked + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-off.svg");
  cursor: pointer;
}

.field-radio__input:checked + .field-radio__label::after {
  content: " ";
  position: absolute;
  top: 8px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/radio-button.svg");
  cursor: pointer;
}

.field-radio__input:checked:hover + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-on.svg");
  cursor: pointer;
}

.field-radio__input:checked:active + .field-radio__label::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/radio-down.svg");
  cursor: pointer;
}
