.field-contacts {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.field-contacts__title {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    .title-legend();
  }
}

.field-contacts__list {
  .wrapper();
  list-style: none;
  background-color: greenyellow;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 62px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.field-contacts__list li:last-child {
  /* margin-bottom: 44px;*/
}

.field-contacts__item {
  background-color: yellow;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 371px;
    margin: 0;
    padding: 0;
  }
}

.field-contacts__item:first-child {
  @media (min-width: @desktop-width) {
    margin-right: 74px;
  }
}

.field-contacts__label {
  display: block;
  margin: 42px 0 17px 24px;
  .label-red();

  @media (min-width: @tablet-width) {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.field-contacts__text {
  width: 100%;
  box-sizing: border-box;
  padding: 23px 0 23px 20px;
  .input-text();

  @media (min-width: @desktop-width) {
    width: 371px;
  }
}
