.field-radio {
  .bg-grey();
}

.field-radio__title {
  padding: 42px 0 44px 0;
  .title-legend();
  .bg-grey();
}

.field-radio__list {
  .reset-list();
}

.field-radio__item {
  margin-bottom: 40px;
}

.field-radio__label {
  padding-left: 59px;
  .label-dark();
}
