// Form

.form {
  outline: 5px solid red;
  outline-offset: 5px;
}

.form__fieldset {
  border: none;
  outline: 5px solid orange;
  outline-offset: 5px;
}

.form__button {
  .btn-green();
}

.form__legend {
  line-height: @lh-large;
  text-transform: uppercase;
}

.form__input-mark {
  color: @basic-purplish-red;
}
