//Main Navigation

.main-navigation {
  position: relative;
  //z-index: 3;
}

.main-navigation__list {
  .reset-list();
}

.main-navigation__toggle {
  position: absolute;
  top: -45px;
  right: 20px;
  z-index: 200;
  display: block;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: -64px;
    right: 20px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
