//Main Navigation

.main-navigation {
  top: -100px;
}

.main-navigation__list {
  outline: 2px solid rgba(255, 0, 255, 0.9);
  outline-offset: -2px;

  @media (min-width: @desktop-width) {
    //display: flex;
  }
}

.main-navigation__list a {
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: 32px;
  text-transform: uppercase;
}

.main-navigation__toggle {
  position: absolute;
  right: 50px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
