//Modal

.modal {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 38px 0 0 0;
  text-align: center;
  background: @basic-white;
  box-shadow: 0 7px 15px @special-black-light;
  border-radius: 5px;
  //outline: 1px solid rgba(105, 250, 255, 0.9);
  //outline-offset: -1px;
  z-index: 15;

  @media (min-width: @tablet-width) {
    max-width: 460px;
  }

  @media (min-width: @desktop-width) {
    max-width: 780px;
  }
}

.modal__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 20px 45px 20px;
  }
}

.modal__wrapper--error {
  padding: 0 0 52px 0;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 50px 0 53px 0;
    .bg-grey();
  }
}

.modal__wrapper--submit {
  margin: 0;
  padding: 50px 0 50px 0;
  .bg-grey();

  //@media (min-width: @desktop-width) {
  //  margin: 0;
  //  padding: 50px 0 50px 0;
  //}
}

.modal__error {
  top: 1166px;

  @media (min-width: @tablet-width) {
    top: 911px;
    left: 0;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    //min-height: 377px;
    top: 819px;
    left: 0;
    right: 0;
  }
}

.modal__submit {
  top: 1640px;

  @media (min-width: @tablet-width) {
    top: 1387px;
    left: 0;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    top: 1278px;
    left: 0;
    right: 0;
  }
}

.modal__title {
  margin: 0 auto;
  padding: 0 0 25px 0;
  font-weight: @fw-large;
  font-size: @fs-medium;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    padding: 0 0 23px 0;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text {
  margin: 0 auto;
  padding: 0 0 40px 0;

  @media (min-width: @tablet-width) {
    padding: 0 0 33px 0;
    font-size: @fs-medium;
  }
}

.modal__error .modal__text {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0 0 63px 0;
  }
}

.modal__submit .modal__title {
  padding: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    padding: 0 60px 20px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 80px 22px 80px;
  }
}

.modal__submit .modal__text {
  margin: 0;
  padding: 0 20px 35px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px 30px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 140px 39px 140px;
  }
}

.modal__button {
  //width: auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.modal__button--wide {
  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 456px;
  }
}


.modal__error br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    &:nth-child(2) {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:nth-child(2) {
    display: block;
  }
}

.modal__submit br {
  display: none;

  //@media (min-width: @tablet-width) {
  //  display: none;
  //}

  @media (min-width: @desktop-width) {
    display: block;
  }

  &:nth-child(3) {
    display: none;
  }
}
