// Main Header

.page-header {
  display: flex;
  flex-direction: column;
  //background-color: lighten(@basic-navy-blue, 5%);
  background: fade(@basic-black, 15%);

  @media (min-width: @desktop-width) {
    z-index: 3;
  }
}

.page-header__wrapper {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 940px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: fade(@basic-black, 15%);
  }
}

.page-header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  height: 69px;
  background: fade(@basic-black, 15%);
  fill: @basic-white;
  z-index: 10;

  &:hover {
    fill: @basic-purplish-red;
  }

  &:active {
    fill: fade(@basic-white, 30%);
  }

  @media (min-width: @tablet-width) {
    height: 106px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    //padding-left: 90px;
    width: 145px;
    background-color: transparent;
  }
}

.page-header__logo-img {
  margin: 0;
  padding: 0;
  width: 74px;
  height: 23px;
  //fill: @basic-black;

  @media (min-width: @tablet-width) {
    height: 40px;
    width: 145px;
  }

  @media (min-width: @desktop-width) {
    height: 40px;
    width: 147px;
  }
}
