//Header

.page-header {
  height: 733px;
  /*background: url("../img/back-mobile.jpg") no-repeat 0 0;*/
  background-color: @basic-navy-blue;

  @media (min-width: @desktop-width) {
    min-height: 853px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  .wrapper();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    outline: 2px solid navajowhite;
    outline-offset: -2px;
    .wrapper-desktop();
  }
}

.page-header__logo-image {
  outline: 2px solid orangered;
  outline-offset: -2px;
  background-color: yellow;

  @media (min-width: @tablet-width) {
    height: 110px;
    width: 145px;
  }
}
