//Photo

.photo {
  outline: 5px solid rgba(255, 0, 255, 0.9);
  outline-offset: 5px;
}

.photo__description {
  line-height: @lh-large;
}

.photo__item {
  .bg-grey();
  outline: 5px solid rgba(0, 0, 255, 0.9);
  outline-offset: 5px;
}
