//Reviews

.reviews {
  position: relative;
  min-height: 320px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 221px;
    padding: 100px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 185px 0 0 0;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 71px;
  }
}

.reviews__wrapper {
  .wrapper();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    min-width: 700px;
    .wrapper-desktop();
  }
}

.reviews__list {
  position: relative;
  margin: -2px 0 0 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.reviews__author-info {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__author-name {
  margin: 0;
  padding: 0;
  color: @basic-black;
  font-style: normal;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-large;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: @fs-large;
    padding: 0 0 5px 0;
  }
}


.reviews__text {
  line-height: @lh-large;
  text-align: center;
  padding: 0 0 15px 0;

  br:nth-child(3) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    padding: 0 0 36px 0;
    font-size: @fs-medium;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    br {
      display: block;
    }

    br:nth-child(2) {
      display: none;
    }

    br:nth-child(3) {
      display: block;
    }

    padding: 0 0 35px 0;
  }
}

.reviews__author-details {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 0 0 40px 0;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    font-size: @fs-medium;
  }
}

.reviews__arrows {
  display: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .reviews__arrows {
    position: relative;
    display: block;
  }

  .reviews__arrow {
    display: block;
    position: absolute;
    bottom: 154px;
    width: 22px;
    height: 41px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
}

.reviews__arrow--left {
  left: 0;
}

.reviews__arrow--right {
  right: 0;
}

.left-arrow,
.right-arrow {
  fill: fade(@basic-navy-blue, 30%);

  &:hover {
    fill: fade(@basic-navy-blue, 60%);
  }

  &:active {
    fill: fade(@basic-navy-blue, 10%);
  }
}

.reviews__toggle {
  //position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60px;
  z-index: 25;

  @media (min-width: @tablet-width) {
    left: 302px;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: fade(@basic-navy-blue, 30%);
  border: 3px solid @basic-white;
  cursor: pointer;
  outline: none;
}

.slider-button--current {
  background-color: @basic-white;
  border: 3px solid @basic-navy-blue;
}
