//Reviews

.reviews {
  padding: 50px 0 60px 0;
  text-align: center;
  outline: 5px solid blue;
  outline-offset: 5px;
}

.reviews__wrapper {
  .wrapper();
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  color: @basic-black;
  font-style: normal;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-large;
}

.reviews__text {
  line-height: @lh-large;
}
