//Site Navigation

.site-list {
  text-align: center;
  align-items: center;
  z-index: 6;
  outline: 2px solid yellow;
  outline-offset: -2px;

  @media (min-width: @tablet-width) {
    /*height: 365px;*/
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    width: 770px;
  }
}

.site-list__item {
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  background-color: @basic-navy-blue;
}

.site-list__link {
  display: block;
  padding: 23px 0;
}
