//Site Navigation

.site-list {
  text-align: center;
  //background-color: @basic-navy-blue;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 998;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
}

.site-list__item {
  margin: 0;
  padding: 0;
}

.site-list a {
  display: block;
  padding: 16px 0 14px 0;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: 32px;
  text-transform: uppercase;
  background-color: @basic-navy-blue;
  border-top: 1px solid @special-grayish-blue;
  border-bottom: 1px solid @basic-black;
  z-index: 6;

  &:hover {
    color: @basic-purplish-red;
  }

  &:active {
    color: fade(@basic-white, 30%);
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 79px;
    padding: 0;
    font-weight: @fw-medium;
    font-size: @fs-medium;
    line-height: @lh-small;
    text-transform: capitalize;
    background-color: transparent;
  }
}
