// Tariffs

.tariffs {
  width: auto;
  height: 381px;
  margin: -48px auto 0 auto;
  padding: 125px 0 0 0;
  overflow: hidden;
  background: url("../img/tariffs-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;


  @media (min-width: @tablet-width) {
    width: auto;
    //max-width: 940px;
    height: 289px;
    margin: 0;
    padding: 112px 0 0 0;
    background: url("../img/tariffs-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    min-height: 423px;
    background: url("../img/tariffs-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 -4px;
    background-size: cover;
  }
}

.tariffs__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  //overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
}

.tariffs__list {
  width: calc(300% - 120px);
  box-sizing: border-box;
  background-color: @basic-white;
  border-collapse: collapse;
  transform: translateX(calc(23px - 33.333%));
  .bg-grey();
  margin: 0 0 41px 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

td {
  position: relative;
  width: 33%;
  padding: 12px 20px 15px 20px;
  vertical-align: middle;
  line-height: @lh-large;
  border: 2px solid @basic-gray;
  box-sizing: border-box;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 25%;
    margin: 0;
    padding: 8px 17px 7px 15px;
  }

  @media (min-width: @desktop-width) {
    //padding: 24px 20px 25px;
  }
}

.available,
.not-available {
  line-height: @lh-large;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 0;
  }
}

.available::after,
.not-available::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.available::after {
  content: " ";
  width: 31px;
  height: 21px;
  background: url("../img/yes.svg");
}

.not-available::after {
  content: " ";
  width: 27px;
  height: 27px;
  background: url("../img/no.svg");
}

.tariffs__name {
  margin: 0;
  padding: 12px 20px 27px 20px;
  font-weight: @fw-large;
  font-size: 16px;
  line-height: @lh-large;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-navy-blue;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 13px 20px 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 10px 22px 10px;
    font-size: @fs-medium;
  }
}

.tariffs__list th:first-child {
  .bg-grey();
  empty-cells: hide;
}

.tariffs__price {
  .reset-list();
  font-weight: @fw-small;
  font-size: @fs-medium;
  line-height: @lh-large;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 0 5px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    padding: 0;
  }
}

.tariffs__tuning {
  display: none;
  line-height: @lh-large;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 10px 16px 20px;
    font-size: @fs-medium;
  }
}

.tariffs__toggles {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 62px;
  z-index: 25;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__slider-button {
  border: 3px solid @basic-smoky-white;
}

.tariffs__slider-button--current {
  border: 3px solid @basic-navy-blue;
  background-color: @basic-white;
}

.tariffs__name-hit {
  position: relative;
}

.tariffs__name-hit--ribbon {
  &::before {
    position: absolute;
    content: " ";
    width: 74px;
    height: 74px;
    top: 0;
    left: 0;
    background-image: url("../img/hit-ribbon.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  &::after {
    content: "Хит";
    position: absolute;
    top: 13px;
    left: 13px;
    line-height: @lh-large;
    color: @basic-white;
    text-transform: uppercase;
    transform: rotate(-45deg);
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    &::before {
      //position: absolute;
      //content: " ";
      width: 61px;
      height: 61px;
      //top: 0;
      //left: 0;
      //background-image: url("../img/hit-ribbon-tablet.svg");
    }

    &::after {
      font-weight: @fw-medium;
      top: 10px;
      left: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 74px;
      height: 74px;
      //top: 0;
      //left: 0;
      //background-image: url("../img/hit-ribbon.svg");
    }

    &::after {
      top: 13px;
      left: 13px;
    }
  }
}
