// Tariffs
//* {
//   box-sizing: border-box;
//}

.tariffs {
  //width: auto;
  width: 320px;
  height: 385px;
  margin: -48px auto 0 auto;
  padding: 125px 0 0 0;
  //overflow: hidden;
  //.bg-grey();
  //background: url("../../img/grey-table.png");
  //background-repeat: no-repeat;
  //background-position: 50% 0;
  //background-size: cover;


  @media (min-width: @tablet-width) {
    width: auto;
    //max-width: 940px;
    height: 305px;
    margin: -18px 0 0 0;
    padding: 110px 0 0 0;
    //background: url("../../img/grey-background-tablet.png");
    //background-repeat: no-repeat;
    //background-position: 0 0;
    //background-size: cover;
  }

  @media (min-width: @desktop-width) {
    //width: 940px;
    height: 534px;
    //margin: 0;
    //padding: 0 10px;
    background: url("../../img/grey-background-desctop.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.tariffs__wrapper {
  position: relative;
  //width: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: visible;
  }

  @media (min-width: @desktop-width) {
    //max-width: 1200px;
    width: 940px;
    margin: 0 auto;
    padding: 159px 10px 0 10px;
  }
}

.tariffs__list {
  //width: calc(300% - 360px);
  width: 960px;
  margin: 0;
  padding: 0;
  background-color: @basic-white;
  border-collapse: collapse;
  transform: translateX(calc(-190px - 33.333%));


  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
    //padding: 0 20px;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    //width: 940px;
    //margin: 0 auto;
    //padding: 0 10px;
  }
}

td {
  position: relative;
  width: 33%;
  padding: 12px 20px 15px 20px;
  vertical-align: middle;
  line-height: @lh-large;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    width: 25%;
    margin: 0;
    padding: 8px 17px 7px 15px;
  }

  @media (min-width: @desktop-width) {
    //padding: 24px 20px 25px;
  }
}

.available,
.not-available {
  line-height: @lh-large;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 0;
    //padding: 19px 20px 21px 20px;
  }
}

.available::after,
.not-available::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;


  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.available::after {
  content: " ";
  width: 31px;
  height: 21px;
  background: url("../../img/yes.png");
}

.not-available::after {
  content: " ";
  width: 27px;
  height: 27px;
  background: url("../../img/no.png");
}

.tariffs__list th:first-child {
  //.bg-grey();
  //display: none;
  font-size: 0;
  border-top: none;
  border-left: none;
}

.tariffs__item {
  background-color: @basic-navy-blue;
}

.tariffs__name {
  margin: 0;
  padding: 12px 20px 27px 20px;
  font-weight: @fw-large;
  font-size: 16px;
  line-height: @lh-large;
  text-transform: uppercase;
  color: @basic-white;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 13px 20px 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px 0 20px;
  }
}

.tariffs__price {
  .reset-list();
  font-weight: @fw-small;
  font-size: @fs-medium;
  line-height: @lh-large;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 0 5px 0;
  }
}

.tariffs__tuning {
  //display: none;
  line-height: @lh-large;

  @media (min-width: @tablet-width) {
    display: table-cell;
    //padding: 18px 15px 17px;
  }
}

.tariffs__toggles {
  position: absolute;
  bottom: -75px;
  left: 120px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

/*


* {
  box-sizing: border-box
}
!*
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}*!

main {
  overflow-x: hidden;
}

.inner {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: calc(300% - 360px);
  border-collapse: collapse;
  transform: translateX(calc(60px - 33.333%));
}

td {
  position: relative;
  border: 2px solid red;
  vertical-align: middle;
  width: 33%;
  padding: 20px 40px;
}

.name {
  display: none;
}

.available::after,
.not-available::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

.available::after {
  content: "\2713";
  color: #3dc644;
}

.not-available::after {
  content: "\2715";
  color: red;
}

@media (min-width: 500px) {
  .inner {
    width: 100%;
    max-width: 1200px;
  }

  table {
    max-width: 940px;
    margin: auto;
    transform: none;
  }
  td {
    width: 25%;
  }
  .name {
    display: table-cell;
  }
  .available,
  .not-available {
    font-size: 0;
  }
  .available::after,
  .not-available::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
*/
