.upload-photo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 155px 0 0 0;
  .bg-grey();
  //background-color: greenyellow;

  @media (min-width: @tablet-width) {
    margin: 175px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    //flex-direction: row;
    width: 940px;
    margin: 136px auto 28px auto;
    padding: 0 10px;
    background-color: @basic-white;
  }
}

.upload-photo__intro {
  position: absolute;
  top: -131px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  line-height: @lh-large;
  align-items: center;
  text-align: center;
  //outline: blue solid 2px;
  //outline-offset: -2px;

  @media (min-width: @tablet-width) {
    top: -130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    font-size: 18px;
    line-height: @lh-large;
  }

  @media (min-width: @desktop-width) {
    top: -127px;
    margin: 0 auto 75px auto;
    padding: 0 10px;
  }
}

.upload-photo__form {
  margin: 0 auto;
  padding: 20px 0 42px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 0 auto;
    padding: 57px 20px 54px 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 300px 1fr;
    column-gap: 90px;
    margin: 0;
    padding: 57px 10px 57px 80px;
    .bg-grey();
  }
}


.upload-photo__preview {
  display: block;
  position: relative;
  width: 100%;
  height: 375px;
  margin: 0 auto 40px auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    //grid-row: 1 / 2;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

.upload-photo__preview img {
  display: block;
}

.upload-photo__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 auto;
    padding: 0;
    width: 275px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 410px;
    margin: 0;
    padding: 0;
  }
}

.upload-photo__list {
  //position: relative;
  display: flex;
  margin: 0 0 60px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: normal;
    margin: 0 0 71px 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.upload-photo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 48px 0;
  padding: 0;

  &::after {
    display: none;
    position: absolute;
    top: 102px;
    right: 0;
    content: " ";
    border: 1px solid fade(@basic-navy-blue, 10%);
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    //justify-content: space-between;
    margin: 2px 0 15px 4px;

    &::after {
      display: block;
      width: 272px;
      top: 52px;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: -7px 0 22px 0;

    &::after {
      display: block;
      width: 408px;
      top: 60px;
      left: 0;
    }
  }
}

.upload-photo__item:last-child {
  @media (min-width: @desktop-width) {
    &::after {
      display: none;
    }
  }
}

.upload-photo__item--current .upload-photo__scale {
  position: absolute;
  top: 78px;
  left: 20px;
  right: 0;
  display: block;
  width: 240px;
  margin: 6px 0;
  background-color: transparent;
  appearance: none;

  &::after {
    position: absolute;
    top: 35px;
    left: -40px;
    content: " ";
    width: 318px;
    border: 1px solid fade(@basic-navy-blue, 10%);
  }

  @media (min-width: @tablet-width) {
    position: static;
    width: 202px;

    &::after {
      display: none;
      //top: 55px;
      //left: 0;
      //width: 275px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.upload-photo__item-fill {
  @media (min-width: @tablet-width) {
    margin: 25px 0 20px 0;

    //&::after {
    //  top: 50px;
    //  right: 0;
    //}
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 24px 0;

    //&::after {
    //  top: 60px;
    //  right: 0;
    //}
  }
}

.upload-photo__item-contrast {
  @media (min-width: @tablet-width) {
    margin: 23px 0 20px 0;

    &::after {
      top: 46px;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.upload-photo__label-crop {
  margin: 1px 35px -1px 37px;

  @media (min-width: @tablet-width) {
    margin: 7px 29px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 48px 0 0;
  }
}

.upload-photo__label-fill {
  margin: 2px 35px -2px 0;

  @media (min-width: @tablet-width) {
    margin: 5px 28px -5px 3px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 44px 0 0;
  }
}

.upload-photo__label-contrast {
  margin: 7px 0 -7px 0;

  @media (min-width: @tablet-width) {
    margin: 3px 31px -3px 7px;
  }

  @media (min-width: @desktop-width) {
    margin: 4px 53px 0 6px;
  }
}

.upload-photo__label .icon {
  fill: fade(@basic-navy-blue, 30%);

  &:hover {
    fill: fade(@basic-navy-blue, 50%);
    cursor: pointer;
  }

  @media (min-width: @tablet-width) {
    fill: @basic-purplish-red;
  }
}

.upload-photo__item--current .icon {
  fill: @basic-purplish-red;
  opacity: 1;
}

.icon-crop {
  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.icon-fill {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.icon-contrast {
  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.upload-photo__scale {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 202px;
    margin: 6px 0;
    background-color: transparent;
    appearance: none;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 288px;

    &::after {
      top: 56px;
      width: 410px;
    }
  }
}

.upload-photo__scale:focus {
  outline: none;
}

.upload-photo__scale::-webkit-slider-runnable-track {
  background: @basic-navy-blue;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.upload-photo__scale::-webkit-slider-thumb {
  margin-top: -6px;
  width: 14px;
  height: 14px;
  background: @basic-white;
  border: 2px solid @basic-purplish-red;
  border-radius: 50px;
  cursor: pointer;
  appearance: none;
}

.upload-photo__scale::-moz-range-track {
  background: @basic-navy-blue;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.upload-photo__scale::-moz-range-thumb {
  margin-top: -6px;
  width: 14px;
  height: 14px;
  background: @basic-white;
  border: 2px solid @basic-purplish-red;
  border-radius: 50px;
  cursor: pointer;
}

.upload-photo__item--current .upload-photo__scale::-webkit-slider-thumb {
  @media (min-width: @tablet-width) {
    background-color: @basic-purplish-red;
  }
}

.upload-photo__item--current .upload-photo__scale::-moz-range-thumb {
  @media (min-width: @tablet-width) {
    background-color: @basic-purplish-red;
  }
}

.upload-photo__button {
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  border: none;
  outline: none;


  @media (min-width: @tablet-width) {
    grid-column: 2 / span 3;
    margin: 0;
    padding: 0;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    align-self: flex-end;
  }
}

.upload-photo__button--send {
  .btn-red();
  margin: 0 0 11px 0;
  border: 3px solid @basic-purplish-red;

  &:hover {
    background-color: @basic-purplish-red;
    color: @basic-white;
  }

  &:active {
    color: fade(@basic-white, 30%);
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 24px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 44px 0 0;
  }
}

.upload-photo__button--cancel {
  .btn-grey();
  border: 3px solid fade(@basic-navy-blue, 10%);

  &:hover {
    border: 3px solid fade(@basic-navy-blue, 30%);
    color: fade(@basic-navy-blue, 30%);
  }

  &:active {
    border: none;
    background-color: fade(@basic-navy-blue, 30%);
    color: fade(@basic-white, 30%);
  }
}
