// Contacts

.wrapper() {
  /*width: 280px;*/
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper-tablet() {
  /*width: 620px;*/
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper-desktop() {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.cont-title() {
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: 25px;
}

.cont-red() {
  margin: 0;
  padding: 0;
  font-weight: @fw-small;
  font-size: @fs-large;
  line-height: 33px;
  color: @basic-purplish-red;
}

.label-red() {
  display: block;
  line-height: @lh-large;
  text-transform: uppercase;
  color: @basic-purplish-red;
}

.label-dark () {
  font-size: @fs-medium;
  line-height: @lh-large;
  text-transform: none;
  color: @basic-navy-blue;
}

.input-text() {
  font-family: inherit;
  font-size: @fs-medium;
  line-height: @lh-large;
  color: @basic-navy-blue;
}

.btn-green() {
  font-family: inherit;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-large;
  text-transform: uppercase;
  background-color: @basic-green;
  color: @basic-white;
}

.btn-red() {
  font-family: inherit;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-large;
  color: @basic-purplish-red;
}

.btn-grey() {
  font-family: inherit;
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: @lh-large;
  color: fade(@basic-navy-blue, 10%);
}

.bg-grey() {
  background-color: @basic-light-gray;
}

.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-legend() {
  display: block;
  text-align: center;
  line-height: @lh-small;
  color: @basic-purplish-red;
  text-transform: uppercase;
}

.indents-zero() {
  margin: 0;
  padding: 0;
}

.outline() {
  outline: 2px solid blue;
  outline-offset: -2px;
}
