
.wrapper() {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.cont-title() {
  font-weight: @fw-large;
  font-size: @fs-medium;
  line-height: 25px;
  text-align: center;
}

.cont-red() {
  margin: 0;
  padding: 0;
  font-weight: @fw-small;
  font-size: @fs-medium;
  line-height: 33px;
  color: @basic-purplish-red;
  text-align: center;
}
